<div class="alert my-4">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">
      <%= t('display_your_company_name_and_logo_when_signing_documents') %>
    </p>
    <p>
      Not available in the community edition.
    </p>
  </div>
</div>
