<div class="alert">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">
      <%= t('send_signature_requests_via_sms') %>
    </p>
    <p class="text-gray-700">
      Not available in the community edition.
    </p>
  </div>
</div>
